# Directories
cache
coverage
out
zkout
logs

# Files
.env
.env.*
!.env.example
*.log
.DS_Store
lcov.info

# Testing
lcov.info
report

# Broadcasts
!broadcast
broadcast/*
broadcast/*/31337/

artifacts
